{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}
{% block content %}
<input type="hidden" id="status_of_page" value="{{ status }}">
<div class="col-md-12">
    <ul class="errorlist nonfield">
        {{ form.non_field_errors }}
    </ul>
    <form data-validate-url="{% url 'background.accounts_data.hobbies' %}" method="post">
        <div class="block block-themed">
            <div class="block-header bg-flat-dark">
                <h3 class="block-title">Create a new hobby</h3>
                <button class="btn btn-primary-danger" id="tera" onclick="myWindowClose()">X</button>
            </div>
            <div class="block-content">
                {% csrf_token %}
                {{form.id}}
                <div class="form-group row justify-content-center ">
                    <div class="col-sm-4">
                        <div class="form-material">
                            {{form.name}}
                            <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                            {{ form.name.errors }}
                        </div>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm bg-flat-dark text-right">
                    <button type="submit" class="btn btn-rounded btn-noborder btn-secondary">
                        <i class="fa fa-check"></i> Submit
                    </button>
                    <button type="reset" class="btn btn-rounded btn-noborder btn-secondary">
                        <i class="fa fa-repeat"></i> Reset
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}