{% extends 'base.html' %}

{% block styles%}
<style>
html{background-color:#000}
.countdown{width:100%;float:left;margin:20px auto}
.timer{font:72px Courier;color:#fff;text-align:center}




</style>
{% endblock %}
{% block content %}

<div class="row justify-content-center text-center">
    {% if search_active %}
    <div class="col-md-12">
        <a class="btn btn-square btn-warning btn-lg btn-block" href="{% url 'partners_search' %}">SEARCH OF LOVE</a>
    </div>
    {% else %}
    <div class="col-md-12 countdown">
        <a class="timer btn btn-square btn-danger btn-lg btn-block" href="#">
            <span id="days"></span>
            <span id="hours"></span>
            <span id="minutes"></span>
            <span id="seconds"></span>
        </a>
    </div>
    <input type="hidden" id="access_date" value="{{ access_date }}">
    {% endif %}
</div>
<div class="container my-sm-3">
    <div class="content">
        <div class="row gutters-tiny">
            {% for candidate in candidates %}
            <div class="col-md-6 col-xl-3">
                <a class="block" href="{% url 'show_detail' candidate.candidate.pk %}">
                    <div class="block-content block-content-full">
                        <div class="py-20 text-center">
                            <div class="js-pie-chart pie-chart mb-20" data-percent="90" data-line-width="4"
                                 data-size="100"
                                 data-bar-color="#ef5350" data-track-color="#e9e9e9">
                                            <span>
                                                <img class="img-avatar" src="{{candidate.candidate.aboutme.main_photo}}"
                                                     alt="">
                                            </span>
                            </div>
                            <div class="font-size-h3 font-w600">{{candidate.common_percentage}}%</div>
                            <div class="font-size-sm font-w600 text-uppercase text-muted">
                                {{candidate.candidate.aboutme.name}} {{candidate.candidate.aboutme.surname}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
<!-- Page JS Plugins -->
<script src="/static/assets/js/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>

<script>jQuery(function(){ Codebase.helpers('easy-pie-chart'); });</script>

<script>
var days, hours, minutes, seconds; // переменные для единиц времени

Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
}

var str_access_date = $("#access_date").val();
var target_date = new Date(str_access_date);
if( str_access_date != ''){
getCountdown();
setInterval(function () { getCountdown(); }, 1000);
}

function getCountdown(){
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;
    days = pad( parseInt(seconds_left / 86400) );
    seconds_left = seconds_left % 86400;

    hours = pad( parseInt(seconds_left / 3600) );
    seconds_left = seconds_left % 3600;

    minutes = pad( parseInt(seconds_left / 60) );
    seconds = pad( parseInt( seconds_left % 60 ) );

      document.getElementById("days").innerHTML    = parseInt(days, 10);
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      }

function pad(n) {
    return (n < 10 ? '0' : '') + n;
}






</script>
{% endblock %}