{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center text-center">
    <div class="col-md-12">
        <a class="btn btn-square btn-warning btn-lg btn-block" href="{% url 'create_article' %}">{% trans 'CREATE A NEW ARTICLE' %}</a>
    </div>
</div>
<div class="content">
    <div class="row items-push js-gallery js-gallery-enabled">
        {% for image in gallery %}
        <div class="col-md-6 col-lg-4 col-xl-3 animated fadeIn">
            <div class="options-container fx-item-zoom-in fx-overlay-zoom-out">
                <img class="img-fluid options-item rounded mx-auto" src="{{ image.image }}" alt="">
                <div class="options-overlay bg-black-op">
                    <div class="options-overlay-content">
                        <h3 class="h4 text-white mb-5">{{ image.name }}</h3>
                        <h4 class="h6 text-white-op mb-15">{{image.description|truncatewords:"15"}}</h4>
                        <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75"
                           href="{% url 'update_article' image.id %}">
                            <i class="fa fa-pencil"></i> {% trans 'Edit' %}
                        </a>
                        <a class="btn btn-sm btn-rounded btn-alt-danger min-width-75"
                           href="{% url 'delete_article' image.pk %}">
                            <i class="fa fa-times"></i> {% trans 'Delete' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}