{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Accounts List</h2>
<div class="container pt-5">
    <div class="container-fluid my-2">
        <form class="post-form" method="post" action="{% url 'image_upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <div class="container-fluid my-2">
        <p>
        <h1 class="strong">Gallery<i class="fas fa-caret-down"></i></h1></p>
        <div class="row mb-4 posts">
            {% for image in gallery %}
            <div class="col-md-3">
                {% include "base_image_icon.html" with image=image %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}