{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>You'r Gallery!</h2>
<div class="container pt-5">
    <div>
        <a href="{% url 'create_article' %}"><h2>+</h2></a>
    </div>
    <div class="container-fluid my-2">
        <p>
        <h1 class="strong">Gallery<i class="fas fa-caret-down"></i></h1></p>
        <div class="row mb-4 posts">
            {% for image in gallery %}
            <div class="col-md-3">
                {% include "base_image_icon.html" with image=image %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}