{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="content content-full text-left">
    <div class="block-content block-content-full">
        <div class="container-fluid">
            <div class="row">
                <div class="block text-center">
                    <div class="font-w600">{{ user.first_name }} {{ user.last_name }}
                        <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75"
                           href="{% url 'edit.profile' %}">
                            <i class="fa fa-pencil"></i>
                        </a></div>
                    <div class="col-sm-7 col-md-6 col-lg-4 col-xl-10 animated fadeIn">
                        <div class="options-container fx-item-zoom-in fx-overlay-zoom-out">
                            <img class="img-fluid options-item rounded mx-auto" src="{{ user.aboutme.main_photo }}"
                                 alt="">
                            <div class="options-overlay bg-black-op">
                                <div class="options-overlay-content">
                                    <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75"
                                       href="{% url 'gallery' %}">
                                        <i class="fa fa-pencil"></i> Change
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-6 col-lg-8 col-xl-10">
                        <div class="block-content">
                            </a><a href='{% provider_login_url "facebook" method="js_sdk" %}'>Facebook Connect</a>
                            {% for account in social_accounts %}
                            <div class="font-w600">{{ account.provider }}:
                                <a href="{{ account.get_profile_url }}"><i
                                        class="fa fa-{{account.provider}}" aria-hidden="true"></i></a>
                            </div>
                            {% endfor %}
                            <div>
                                <ul class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                                </ul>

                                {% include "socialaccount/snippets/login_extra.html" %}
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <a href="{% url 'socialaccount_connections' %}">Connect social accounts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full">
    </div>
</div>
{% endblock %}
{% block scripts %}
{% providers_media_js %}
{% endblock %}
