{% extends 'base.html' %}
{% block content %}
<div class="content content-full text-left">
    <div class="block-content block-content-full">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-7 col-md-6 col-lg-2 col-xl-5">
                    <div class="block">
                        <div class="block-content center">
                            <div class="animated fadeIn mr-auto">
                                <div class="options-container fx-item-zoom-in fx-overlay-zoom-out">
                                    <img class="img-fluid options-item rounded mx-auto"
                                         src="{{ user.aboutme.main_photo }}"
                                         alt="">
                                    <div class="options-overlay bg-black-op">
                                        <div class="options-overlay-content">
                                            <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75"
                                               href="{% url 'gallery' %}">
                                                <i class="fa fa-pencil"></i> Change
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <div class="block-content">
                            <div class="font-w600 ml-auto">
                                <p>You'r name: {{ user.first_name }} {{ user.last_name }}</p>
                                <p>Email: {{ user.email }}</p>
                                <a class="btn btn-sm btn-rounded btn-alt-primary min-width-75"
                                   href="{% url 'edit.profile' %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block-content">
                            <div class="block-content">
                                {% for account in social_accounts %}
                                <div class="font-w600"><i class="fa fa-{{account.provider}}" aria-hidden="true">
                                    {{account.provider }}</i>:
                                    {% if account.get_profile_url %}
                                    <a href="{{ account.get_profile_url }}">
                                        <i class="fa fa-{{account.provider }}" aria-hidden="true"></i></a>
                                    {% else %}
                                    {{ account.get_provider_account }}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="block-content block-content-full">
                                <a href="{% url 'socialaccount_connections' %}">Connect social accounts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content block-content-full">
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
